:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --green-hover: hsl(154, 65%, 68%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  color: #fff;
  background-color: var(--red);
  background-image: url('/bg-intro-mobile.png');
  line-height: 1.625;
  max-width: 1158px;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header {
  text-align: center;
  margin-top: 5.5rem;
}

.header__title {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.29px;
}

.header__text {
  margin-top: 1rem;
  font-weight: 500;
}

.banner {
  border-radius: 10px;
  text-align: center;
  background-color: var(--blue);
  padding: 1.125rem 4.125rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.font-bold {
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
  background-color: #fff;
  color: var(--grayish-blue);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin-bottom: 4.25rem;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input {
  font-family: inherit;
  border: 1px solid #dedede;
  color: var(--dark-blue);
  font-weight: 600;
  padding: 0.9375rem 1.25rem;
  border-radius: 5px;
  caret-color: var(--blue);
}

.form__input::placeholder {
  opacity: 0.75;
}

.form__input:focus:not(.input-error) {
  outline: 1px solid var(--blue);
}

.input-error {
  outline: 2px solid var(--red);
  color: var(--red);
  background-image: url('/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 27px center;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.input-error + .error-text {
  display: block;
}

.error-text {
  display: none;
  align-self: end;
  color: var(--red);
  margin-top: 0.375rem;
  font-weight: 500;
  font-style: italic;
}

.form__btn {
  font-family: inherit;
  color: #fff;
  background-color: var(--green);
  border: none;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9375rem;
  padding: 0.9375rem;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  cursor: pointer;
  transition: background-color 0.2s;
}

.form__btn:hover {
  background-color: var(--green-hover);
}

.form__text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.6875rem;
  line-height: 1.3125rem;
}

.text-red {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 1158px) {
  body {
    flex-direction: row;
    align-items: center;
    gap: 2.8125rem;
    padding: 1.5rem;
    background-image: url('/bg-intro-desktop.png');
  }

  .header {
    margin-top: 0;
    max-width: 525px;
    text-align: left;
  }

  .header__title {
    font-size: 3.125rem;
    line-height: 3.4375rem;
    letter-spacing: -0.52px;
  }

  .header__text {
    margin-top: 2rem;
  }

  .form {
    margin-bottom: 0;
    padding: 2.5rem;
  }

  .form_inputs {
    gap: 1.25rem;
  }

  .form__input {
    padding: 0.9375rem 2rem;
    font-size: 0.875rem;
    line-height: 1.625rem;
  }

  .right {
    width: 100%;
  }
}
